@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.font-family-two {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}
.text-green {
    color: #7EB693;
}
.swiper-pagination-bullet {
    background-color: #C4C4C4;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #7EB693;
}
.btn-mint {
    background-color: #274C5B;
    color: #fff;
    padding: 15px 30px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 170px;
    transition: 300ms all;
}
.btn-mint:hover {
    background-color: #193540;
    color: #fff;
}
.btn-mint:hover .icon {
    margin-left: 10px;
}
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 300ms;
}
.icon.icon-arrow {
    background-image: url('../img/icon/arrow.svg');
    width: 19px;
    height: 19px;
}
.widget-search {
    position: relative;
    margin-right: 15px;
}
.input-search {
    background-color: #FAFAFA;
    border-radius: 36px;
    border: none;
    outline: none;
    padding: 5px 42px 5px 15px;
    color: #444;
    height: 42px;
}
.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EB693;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 36px;
    height: 36px;
    margin: 3px;
}
.btn-search img {
    width: 15px;
    height: 15px;
}
.navbar-widget {
    display: flex;
}
.widget-basket {
    display: flex;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
}
.widget-basket-icon {
    background-color: #274C5B;
    background-image: url('../img/basket.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 3px;
}
.widget-basket-value {
    display: flex;
    align-items: center;
    padding: 0 8px 0 5px;
}

.feature-card {
    position: relative;
    width: 100%;
    border-radius: 30px;
}
.feature-card img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.feature-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 40px;
    max-width: 340px;
    line-height: 1.1;
}
.feature-card-content span {
    display: block;
    font-size: 2.5rem;
}

.section-content-card {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 500px;
    margin-bottom: 15px;
}
.content-card-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.content-card-icon::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 30px;
    border-radius: 50%;
    background-color: #FFF4CD;
}
.content-card-icon-blue::before {
    background-color: #CAE5FF;
}
.content-card-icon img {
    z-index: 1;
}

.product-card {
    background-color: #F9F8F8;
    border-radius: 30px;
    position: relative;
    border: 1px solid transparent;
    transition: all 300ms;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0 2px 5px;
    border-color: #DEDDDD;
}

.product-card .product-card-tag {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    left: 18px;
    top: 18px;
}

.product-card .product-card-tag span {
    background-color: #274C5B;
    padding: 5px 8px;
    border-radius: 8px;
    color: #fff;
    font-size: 0.8rem;
}

.product-card .product-card-tag span.bg-green {
    background-color: #71AF00;
}

.product-card .product-card-image {
    width: 100%;
    height: 325px;
}

.product-card .product-card-image img {
    width: 100%;
    height: 325px;
    object-fit: contain;
}

.product-card .product-card-content {
    padding: 15px;
}

.product-card .product-card-content .product-card-content-bottom {
    display: flex;
    justify-content: space-between;
}

.product-card .product-card-content .product-card-content-title {
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid #DEDDDD;
    padding-bottom: 7px;
    margin-bottom: 12px;
}

.product-card .product-card-content .product-card-content-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-card .product-card-content .product-card-content-price .old-price {
    text-decoration: line-through;
    color: #B8B8B8;
    font-size: 0.90rem;
}

.product-card .product-card-content .product-card-content-price .new-price {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.product-card .product-card-content .product-card-content-rank {
    display: flex;
}

.product-card .product-card-content .product-card-content-rank .icon-star {
    background-image: url('../img/icon/star.svg');
    width: 16px;
    height: 16px;
}
.product-card .product-card-content .product-card-content-rank .icon-star.active {
    background-image: url('../img/icon/star-active.svg');
}

.customer-testimonial {
    background-color: #FCFCFC;
    background-image: url('../img/background/bg-customer-testimonial-1.png'), url('../img/background/bg-customer-testimonial-2.png');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: auto 160%;
}
.customer-testimonial-cards {
    margin: auto;
    max-width: 600px;
    border-bottom: 1px solid #DEDDDD;
}
.customer-testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.customer-testimonial-card-image {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
.customer-testimonial-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}